## VSCode
.vscode

## Python
__pycache__

## Credential
.env
database.ini

## Terraform
.terraform

## MacOS
.DS_Store

## Artifacts
terraform/artifacts/slack_lambda.zip

## Frontend
node_modules
test